/* Fading out animation applied to task when user completes or deletes it.
Task below the removed task slides upwards into position smoothly */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@-webkit-keyframes taskFadeOut {
  0% {
    opacity: 1;
    height: auto;
    line-height: normal;
    margin-bottom: 20px;
  }
  75% {
    opacity: 0;
    height: auto;
    line-height: normal;
    margin-bottom: 20px;
  }
  100% {
    opacity: 0;
    height: 0px;
    line-height: 0px;
    margin-bottom: 0px;
  }
}
@keyframes taskFadeOut {
  0% {
    opacity: 1;
    height: auto;
    line-height: normal;
    margin-bottom: 20px;
  }
  75% {
    opacity: 0;
    height: auto;
    line-height: normal;
    margin-bottom: 20px;
  }
  100% {
    opacity: 0;
    height: 0px;
    line-height: 0px;
    margin-bottom: 0px;
  }
}

html {
  font-size: 16px;
}

body {
  background-color: #ffb108;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  justify-items: stretch;
      grid-template-areas: "header" "content";
}

.header {
  grid-area: "header";
  background-color: #242424;
  line-height: 20vh;
}

.header a {
  font-size: 4rem;
  margin-left: 30px;
  color: white;
  text-decoration: none;
}

.content {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
      grid-template-areas: "tabs" "tasks";
  grid-area: "content";
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-area: "tabs";
  width: 80%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  margin: 0 auto;
}

.extra-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.extra-tabs button {
  border: none;
}

.extra-tabs button:disabled {
  color: black;
  border: 3px solid black;
}

#completed {
  background-color: #77c977;
}

#completed:hover {
  background-color: #0ba833;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  color: white;
}

#expired {
  background-color: #e9a3a3;
}

#expired:hover {
  background-color: #d85757;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  color: white;
}

.main-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.main-tabs button {
  color: black;
  background-color: white;
  border: none;
}

.main-tabs button:hover {
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  background-color: #242424;
  color: white;
}

.main-tabs button:disabled {
  border: 3px solid black;
}

.add-btn {
  border: none;
}

.tasks {
  grid-area: "tasks";
  width: 80%;
  max-width: 80%;
  padding: 10px;
  margin: 0 auto;
  height: 60vh;
  overflow-y: scroll;
  overflow-wrap: break-word;
  border: 3px solid black;
}

.completed, .expired, .tomorrow, .upcoming {
  display: none;
}

.today {
  display: block;
}

.expired ul, .today ul, .tomorrow ul, .upcoming ul {
  list-style: none;
  padding: 10px 10px 0px 10px;
}

.completed ul {
  list-style: square;
}

.completed li {
  margin: 10px;
}

li {
  -webkit-animation-name: taskFadeOut;
          animation-name: taskFadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 300px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: block;
  background-color: white;
  margin: auto;
  width: 75%;
  overflow: auto;
  text-align: center;
  padding: 10px;
}

.submit-btn:hover {
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  background-color: #3d3c3c;
  color: white;
}

#close-btn {
  float: right;
  color: #9b9b9b;
}

#close-btn:hover, #close-btn :focus {
  color: black;
  cursor: pointer;
}

.date-html {
  background-color: lightgreen;
}

.time-html {
  background-color: #ffc6cf;
}

.task-html {
  padding-left: 5px;
}

.complete-btn {
  background-color: #00ffea;
  border: 1px solid black;
  border-radius: 10%;
  margin: 5px;
}

.complete-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #15ff00;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.delete-btn {
  background-color: #fc4848;
  border: 1px solid black;
  border-radius: 10%;
  opacity: 30%;
}

.delete-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 15px;
  }
  .header {
    line-height: 17vh;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 580px) {
  html {
    font-size: 12px;
  }
  .header {
    line-height: 13vh;
  }
}

@media only screen and (max-width: 466px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 425px) {
  html {
    font-size: 9px;
  }
  .tasks {
    height: auto;
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 8.5px;
  }
  .header {
    line-height: 10vh;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 7px;
  }
}
/*# sourceMappingURL=styles.css.map */